.handle-click {
    margin: 0 auto;
    width: fit-content;
    button {
        color: rgb(63, 63, 63);
        background-color: rgb(221, 160, 221);
        border: none;
        padding: 7px 10px 7px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 50px;
        &:hover {
            background-color: rgb(253, 141, 253);
        }
    }
}