.list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}