.vertical-list {
    background-color: whitesmoke;
    color: #3f3f3f;
    border: 1px solid #3f3f3f31;
    background-image: linear-gradient(whitesmoke 18%, yellowgreen 28%, whitesmoke 35%);
    border-radius: 5px;
    margin: 50px;
    height: fit-content;
    width: 200px;
    text-align: center;
    ul {
        list-style: none;
        padding: 0;
        margin: 16px 0px 0px 0px;
        li {
            background-color: yellowgreen;
            margin: 1px 0px 1px 0px;
            line-height: 30px;
        }
    }
}