@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
body, html, #root {
  margin: 0;
  min-height: 100vh;
  background-color: whitesmoke;
}

* {
  font-family: 'Roboto Slab', serif;
}

.search-results {
  text-align: center;
}

.search-results .search-title {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search-results .search-title img {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  height: 40px;
}

.search-results .search-title img:hover {
  opacity: 0.8;
}

.search-results h2, .search-results p {
  color: #3f3f3f;
}

.pokemon {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: translateX 500ms ease-in-out forwards;
          animation: translateX 500ms ease-in-out forwards;
}

.pokemon .pokemon-details {
  color: #3f3f3f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45%, whitesmoke), color-stop(90%, rgba(87, 244, 255, 0.692)), color-stop(102%, whitesmoke));
  background-image: linear-gradient(whitesmoke 45%, rgba(87, 244, 255, 0.692) 90%, whitesmoke 102%);
  border: 1px solid #3f3f3f31;
  border-radius: 5px;
  margin: 50px;
  text-align: center;
  min-width: 450px;
  min-height: 470px;
}

.pokemon .pokemon-details .card-item {
  width: 200px;
  margin: 18px auto;
}

.pokemon .pokemon-details .card-item .item-image {
  height: 180px;
  width: 180px;
}

.pokemon .pokemon-details .card-item .item-image img {
  height: inherit;
}

.pokemon .pokemon-details .card-item .item-name h1 {
  font-size: 20px;
}

.pokemon .pokemon-details .card-item:hover {
  background-color: transparent;
}

.pokemon .pokemon-details .card-item:hover .item-image {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.pokemon .pokemon-details .card-item:hover h1 {
  color: #3f3f3f;
}

@-webkit-keyframes translateX {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes translateX {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media only screen and (max-width: 600px) {
  .pokemon-details {
    min-width: 250px !important;
    min-height: 270px !important;
    margin: 50px 20px 0px 20px !important;
  }
  h2 {
    font-size: 20px;
  }
}
/*# sourceMappingURL=index.css.map */