@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body, html, #root {
    margin: 0;
    min-height: 100vh;
    background-color: whitesmoke;
  }
  * {
    font-family: 'Roboto Slab', serif;
  }
  .Home {
    button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

.pokemon {
  display: flex;
  flex-wrap: wrap;
  transform: translateY(10%);
}
 // item 
  .item-details {
    color: rgb(63, 63, 63);
    border: 1px solid rgb(175, 175, 175);
    background-image: linear-gradient(rgba(0, 128, 0, 0.363) 0%, white 30%);
    border-radius: 5px;
    margin: 50px;
    text-align: center;
    max-width: 500px;
    .detail-image {
      height: 200px;
      img {
        height: inherit;
      }
    }
    .detail-list {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0;
      li {
        margin: 5px 10px 5px 10px;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background-color: rgb(75, 226, 231);
      }
    }
  }